body {
  overflow-x: hidden;
  width: 720px;
  height: 980px;
  min-width: 250px;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: none;
  scroll-behavior: smooth;
}

/* 10px = 1rem */
html {
  font-size: 62.5%;
}

